<div class="bg-light lter b-b wrapper-md" xmlns="http://www.w3.org/1999/html">
    <h1 class="m-n font-thin h3">Bidang</h1>
</div>
<div class="wrapper-md" ng-controller="BidangCtrl">
<!--Alert-->
<div role="alert" class="alert alert-{{alertset.class}} alert-dismissable {{formHidden.alert}}" type="success">
    <button ng-click="closeMe()" class="close" type="button">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <span ng-repeat="(key, value) in alertset.msg"><p class="m-b-xxs">{{value}}</p></span>
</div>
<!--End of alert-->
<!--list data-->
<div class="panel panel-default {{formHidden.list}}">
    <div class="panel-heading font-bold">Tampil Data</div>
    <div class="row wrapper">
        <div class="col-sm-8 m-b-xs">
            <span tooltip="Tambah Data">
                <button ng-click="add()" class="btn btn-sm btn-default" ng-disabled="disUtama.btnAdd">
                    <i class="glyphicon glyphicon-plus-sign"></i></button>
                </span>
            <span tooltip="Refresh data">
                <button class="btn btn-sm btn-default" ng-click="refreshData()" ng-disabled=disUtama.btnRefresh>
                    <i class="glyphicon glyphicon-refresh"></i>
                </button>
            </span>
        </div>
        <div class="col-sm-4">
            <div class="input-group pull-right">
                <input type="text" class="input-sm form-control" placeholder="Search" ng-model="main.term"
                       ng-disabled="disUtama.txtCari">
                <span class="input-group-btn" tooltip="Cari Data">
                    <button class="btn btn-sm btn-default" type="button" ng-click="cari()"
                            ng-disabled="disUtama.btnCari">Cari
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th class="col-md-4">Kode Rekening</th>
                <th class="col-md-6">Bidang</th>
                <th class="col-md-2">Aksi</th>
            </tr>
            </thead>

            <tbody ng-repeat="j in bidang">
            <tr>
                <td>{{j.kode_rekening}}</td>
                <td>{{j.bidang}}</td>
                <td>
                    <button tooltip="Edit" class="btn btn-sm btn-info"
                            ng-click="edit(j._id)" ng-disabled="disAksi.btnDetail"><i
                            class="glyphicon glyphicon-edit"></i>
                    </button>
                    <button tooltip="Hapus" class="btn btn-sm btn-danger" ng-click="hapus(j._id)"
                            ng-disabled="disAksi.btnDetail"><i
                            class="glyphicon glyphicon-trash"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <footer class="panel-footer">
        <div class="row">
            <div class="col-sm-4 text-center-xs">
                <small class="text-muted inline m-t-sm m-b-sm">showing {{from}}-{{to}} of
                    {{total}} items
                </small>
            </div>
            <div class="col-sm-8 text-right text-center-xs">
                <ul class="pagination m-t-none m-b-none">
                    <li tooltip="Halaman Pertama">
                        <button class="btn btn-default" type="button" ng-click='firstPage()'
                                ng-disabled='current_page == 1 || disUtama.btnPagging'><i
                                class="fa fa-angle-double-left"></i></button>
                    </li>
                    <li tooltip="Halaman Sebelumnya">
                        <button class="btn btn-default" type="button" ng-click='previousPage()'
                                ng-disabled='current_page <= 1 || disUtama.btnPagging'><i
                                class="fa fa-angle-left"></i></button>
                    </li>
                    <li tooltip="Halaman Selanjutnya">
                        <button class="btn btn-default" type="button" ng-click='nextPage()'
                                ng-disabled='main.page >= last_page || disUtama.btnPagging'><i
                                class="fa fa-angle-right"></i></button>
                    </li>
                    <li tooltip="Halaman Terakhir">
                        <button class="btn btn-default" type="button" ng-click='lastPage()'
                                ng-disabled='main.page >= last_page || disUtama.btnPagging'><i
                                class="fa fa-angle-double-right"></i></button>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</div>
<!--end list data-->
<!--form add-->
<div class="panel panel-default {{formHidden.add}}">
    <div class="panel-heading font-bold">Form Tambah</div>
    <div class="panel-body">
        <form class="bs-example form-horizontal" name="addForm">
            <div class="form-group">
                <label class="col-lg-2 control-label">Kewenangan</label>

                <div class="col-lg-4">
                    <select class="form-control" ng-model="inputData.kewenangan"
                            ng-options="o as o.kewenangan for o in objKewenangan" ng-change="getKewenangan()">
                    </select>
                    <div class="text-info" ng-show="alert1">
                        Data Fungsi belum tersedia.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Kode Rekening</label>

                <div class="col-lg-4">
                    <input type="text" class="form-control" placeholder="Kode Rekening"
                           ng-model="inputData.kode_rekening" focus-me="getFocus" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Bidang</label>

                <div class="col-lg-4">
                    <input type="text" class="form-control" placeholder="Bidang" ng-model="inputData.bidang"
                           required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-4">
                    <span tooltip="Simpan Data">
                        <button type="submit" class="btn btn-sm btn-info" ng-disabled="addForm.$invalid || btnEksekusi"
                                ng-click="submitData(0)">
                            Simpan
                        </button>
                    </span>
                    <span tooltip="Simpan Data dan Kembali">
                        <button type="submit" class="btn btn-sm btn-info" ng-disabled="addForm.$invalid || btnEksekusi"
                                ng-click="submitData(1)">
                            Simpan & Kembali
                        </button>
                    </span>
                    <span tooltip="Reset">
                        <button type="reset" class="btn btn-sm btn-default" ng-disabled="btnEksekusi">
                            Reset
                        </button>
                    </span>
                    <span tooltip="Kembali">
                        <button type="button" ng-disabled="btnEksekusi" class="btn btn-sm btn-default"
                                ng-click="back()">
                            Kembali
                        </button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>
<!--end form add-->
<!--form edit-->
<div class="panel panel-default {{formHidden.edit}}">
    <div class="panel-heading font-bold">Form Edit</div>
    <div class="panel-body">
        <form class="bs-example form-horizontal" name="editForm" ng-submit="updateData(editForm.$valid)">
            <div class="form-group">
                <label class="col-lg-2 control-label">Kewenangan</label>

                <div class="col-lg-4">
                    <select class="form-control" ng-model="inputData.kewenangan"
                            ng-options="o as o.kewenangan for o in objKewenangan" ng-change="getKewenangan()">
                    </select>
                    <div class="text-info" ng-show="alert1">
                        Data Fungsi belum tersedia.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Kode Rekening</label>

                <div class="col-lg-4">
                    <input type="text" class="form-control" placeholder="Kode Rekening"
                           ng-model="inputData.kode_rekening" focus-me="getFocus" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Bidang</label>

                <div class="col-lg-4">
                    <input type="text" class="form-control" placeholder="Bidang" ng-model="inputData.bidang"
                           required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-4">
                    <button type="submit" class="btn btn-sm btn-info" ng-disabled="editForm.$invalid || btnEksekusi"
                            tooltip="Simpan Data">Simpan
                    </button>
                    <button type="button" ng-disabled="btnEksekusi"
                            class="btn btn-sm btn-default" tooltip="Kembali" ng-click="back()">Kembali
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--end form edit-->
</div>