<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Pengaturan</h1>
</div>
<div class="wrapper-md" ng-controller="GantiInfoCtrl">
    <!--Alert-->
    <div role="alert" class="alert alert-{{alertset.class}} alert-dismissable {{formHidden.alert}}" type="success">
        <button ng-click="closeMe()" class="close" type="button">
            <span aria-hidden="true">×</span>
            <span class="sr-only">Close</span>
        </button>
        <span ng-repeat="(key, value) in alertset.msg"><p class="m-b-xxs">{{value}}</p></span>
    </div>
    <!--End of alert-->
    <!--form add-->
    <div class="panel panel-default {{formHidden.edit}}">
        <div class="panel-heading font-bold">Ganti Info</div>
        <div class="panel-body">
            <form class="bs-example form-horizontal" name="editForm" autocomplete="off">
                <div class="form-group">
                    <label class="col-lg-2 control-label">Email</label>

                    <div class="col-lg-4">
                        <input type="email" class="form-control" placeholder="Email" ng-model="inputData.password_lama" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Password Baru</label>

                    <div class="col-lg-4">
                        <input type="password" class="form-control" placeholder="Password Baru" ng-model="inputData.password_baru"
                               required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Ulangi Password Baru</label>

                    <div class="col-lg-4">
                        <input type="password" name="pass2" class="form-control" placeholder="Password Baru" ng-model="inputData.password_baru2" nx-equal="inputData.password_baru"
                               required>
                        <div class="text-danger" ng-show="editForm.pass2.$error.nxEqual">
                            Password tidak cocok!
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-4">
                    <span tooltip="Simpan Data">
                        <button type="submit" class="btn btn-sm btn-info" ng-disabled="editForm.$invalid || btnEksekusi" ng-click="updateData()">
                            Simpan
                        </button>
                    </span>
                    <span tooltip="Reset">
                        <button type="reset" class="btn btn-sm btn-default" ng-disabled="btnEksekusi">
                            Reset
                        </button>
                    </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--end form add-->
</div>