<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Program</h1>
</div>
<div class="wrapper-md" ng-controller="RPJMDesProgramCtrl">
    <!--Alert-->
    <div role="alert" class="alert alert-{{aClass}} alert-dismissable {{aShow}}" type="success">
        <button ng-click="closeMe()" class="close" type="button">
            <span aria-hidden="true">×</span>
            <span class="sr-only">Close</span>
        </button>
        <span ng-repeat="(key, value) in aMsg"><p class="m-b-xxs">{{value}}</p></span>
    </div>
    <!--End of alert-->
    <!--list data-->
    <div class="panel panel-default">
        <div class="panel-heading font-bold">Tampil Data</div>
        <div class="row wrapper">
            <div class="col-sm-8 m-b-xs">
            <span tooltip="Refresh data">
                <button class="btn btn-sm btn-default" ng-click="refreshData()" ng-disabled=disUtama.btnRefresh>
                    <i class="glyphicon glyphicon-refresh"></i>
                </button>
            </span>
            </div>
            <div class="col-sm-4">
                <div class="input-group pull-right">
                    <input type="text" class="input-sm form-control" placeholder="Search" ng-model="main.term"
                           ng-disabled="disUtama.txtCari">
                <span class="input-group-btn" tooltip="Cari Data">
                    <button class="btn btn-sm btn-default" type="button" ng-click="cari()"
                            ng-disabled="disUtama.btnCari">Cari
                    </button>
                </span>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th class="col-md-2">Desa</th>
                    <th class="col-md-4">Program</th>
                    <th class="col-md-4">Kegiatan</th>
                    <th class="col-lg-2">Aksi</th>
                </tr>
                </thead>

                <tbody ng-repeat="k in rpjmdes_program">
                <tr>
                    <td>{{k.organisasi.desa}}</td>
                    <td>{{k.kegiatan.program.program}}</td>
                    <td>{{k.kegiatan.kegiatan}}</td>
                    <td>
                        <a ui-sref="app.backoffice.detil_rpjmdes({rpjmdes_id:k._id, organisasi_id:k.organisasi._id})" tooltip="Lihat Rincian" class="btn btn-sm btn-info"
                                ng-disabled="disAksi.btnVerifikasi"><i
                                class="icon icon-eye"></i>
                        </a>
                        <button tooltip="Verifikasi" class="btn btn-sm btn-info" ng-show="k.is_finish==1"
                                ng-click="program_verifikasi(k._id)"
                                ng-disabled="disAksi.btnVerifikasi"><i
                                class="icon icon-check"></i>
                        </button>
                        <button tooltip="Revisi" class="btn btn-sm btn-warning" ng-show="k.is_finish==1"
                                ng-click="program_revisi(k)"
                                ng-disabled="disAksi.btnVerifikasi"><i
                                class="glyphicon glyphicon-edit"></i>
                        </button>
                        <button tooltip="Tolak" class="btn btn-sm btn-danger" ng-show="k.is_finish==1"
                                ng-click="program_tolak(k)"
                                ng-disabled="disAksi.btnVerifikasi"><i
                                class="icon icon-close"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-4 text-center-xs">
                    <small class="text-muted inline m-t-sm m-b-sm">showing {{from}}-{{to}} of
                        {{total}} items
                    </small>
                </div>
                <div class="col-sm-8 text-right text-center-xs">
                    <ul class="pagination m-t-none m-b-none">
                        <li tooltip="Halaman Pertama">
                            <button class="btn btn-default" type="button" ng-click='firstPage()'
                                    ng-disabled='current_page == 1 || disUtama.btnPagging'><i
                                    class="fa fa-angle-double-left"></i></button>
                        </li>
                        <li tooltip="Halaman Sebelumnya">
                            <button class="btn btn-default" type="button" ng-click='previousPage()'
                                    ng-disabled='current_page <= 1 || disUtama.btnPagging'><i
                                    class="fa fa-angle-left"></i></button>
                        </li>
                        <li tooltip="Halaman Selanjutnya">
                            <button class="btn btn-default" type="button" ng-click='nextPage()'
                                    ng-disabled='main.page >= last_page || disUtama.btnPagging'><i
                                    class="fa fa-angle-right"></i></button>
                        </li>
                        <li tooltip="Halaman Terakhir">
                            <button class="btn btn-default" type="button" ng-click='lastPage()'
                                    ng-disabled='main.page >= last_page || disUtama.btnPagging'><i
                                    class="fa fa-angle-double-right"></i></button>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
    <!--end list data-->
    <!--end form edit-->
</div>

<script type="text/ng-template" id="modTolak.html">
    <div ng-include="'tpl/modal_tolak.html'"></div>
</script>
<script type="text/ng-template" id="modDetailProgram.html">
    <div ng-include="'tpl/modal_detil_rpjmdes_program.html'"></div>
</script>
<script type="text/ng-template" id="modRevisi.html">
    <div ng-include="'tpl/modal_revisi.html'"></div>
</script>